{% extends 'base.html.twig' %}

{% block title %}Edit EventParticipation{% endblock %}

{% block body %}
    <h1>Edit EventParticipation</h1>

    {{ include('event_participation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_event_participation_index') }}">back to list</a>

    {{ include('event_participation/_delete_form.html.twig') }}
{% endblock %}
