{% extends 'base.html.twig' %}

{% block title %}Dashboard Employé - Mon Espace{% endblock %}



{% block body %}


    <!-- Main Content -->
    <div class="main-content">
        <div class="empty-space">
        </div>
    </div>
</div>
</div>
{% endblock %}
